/* slider-custom.css */

.slick-prev,
.slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-prev::before,
.slick-next::before {
  color: white;
  font-size: 40px;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
