@import "tailwindcss";
@plugin "daisyui";

:root{
    --bg-color: azure;
    --text-color: #202020;
    --btn-bg-light: #e8e8ea;
    --btn-bg-dark: #4B6BFB;
    --text-sans-color: #181a2a;
    --ad-bg: #E8E8EA;
    --footer-bg: #F6F6F7;
}
[data-theme="light"]{
    --bg-color: azure;
    --text-color: #202020;
    --text-sans-color: #181a2a;
    --ad-bg: #E8E8EA;
    --footer-bg:#F6F6F7;
    transition: all 0.5s ease-in-out;
}

[data-theme="dark"]{
    --bg-color: #000;
    --text-color: white;
    --text-sans-color: white;
    --ad-bg: #242535;
    --footer-bg:#141624;
    transition: all 0.5s ease-in-out;
}

.header-bg{
    background-color: var(--bg-color);
}